{% extends 'core/base.html' %}

{% block content %}
{{ block.super }}

{% for product in products %}

<div class="card" style="width: 15rem;">
  <img src=" {{ product.image.url }} " height="240" class="card-img-top"  alt="{{ product.product.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.product.name }}</h5>
    <p class="card-text">{{ product.product.compound|truncatewords:15 }}</p>
    <h5 class="card-title">{{ product.product.price }} UAH</h5>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endfor %}

{% endblock %}
